@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap');

/**/

:root {
    --off-black: #222831;
    --off-white: #eee;
    --gray-one: #393E46;
    --yellow: hsl(42.4, 100%, 70.6%);
    --green: hsl(141.5, 39.1%, 47.6%);
    --lightGreen: hsl(141.5, 39.1%, 50%);
    --darkGreen: hsl(141.5, 39.1%, 20%);
    --redOrange: hsl(7.2, 89.7%, 62%);
    --lightRedOrange: hsl(7.2, 89.7%, 65%);
    --darkRedOrange: hsl(7.2, 89.7%, 20%);
}


/**/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--off-black);
    user-select: none;
    text-align: center;
    font-size: 1em;
}

main {
    width: 500px;
    margin: 3em auto;
    padding-bottom: 1em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 3.25em;
    line-height: 1;
    font-weight: 100;
    color: var(--off-white);
}

a {
    color: inherit;
    text-decoration-color: var(--gray-one);
    text-decoration-thickness: 2px;
    transition: color 150ms;
}

a:hover {
    color: var(--yellow);
    transition: color 250ms;
}

p,
ol,
li {
    color: var(--off-white);
    text-align: left;
}

li {
    margin-top: .5em;
}

hr {
    border-width: 0;
    height: 2px;
    width: 75%;
    background-color: var(--gray-one);
}

input[type=button] {
    border-style: solid;
    margin: 3em 0.5em 0;
    border-width: 1px;
    border-bottom-width: 4px;
    padding: 9px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.25em;
}

input[type=button]:active {
    border-bottom-width: 2px;
    transform: translateY(2px);
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--gray-one);
    padding: 3px 6px;
    margin: 0 2px;
    font-size: .75em;
    border-radius: 4px;
    font-weight: bolder;
}


/**/

.smaller {
    font-size: 2.25em;
}

.line-thru {
    text-decoration: line-through;
}

.li-optional {
    color: var(--gray-one);
    font-style: italic;
}

.em {
    /* Custom emojis */
    margin: 0 9px;
}

.button-red {
    background-color: var(--redOrange);
    color: var(--darkRedOrange);
    border-color: var(--redOrange);
    border-bottom-color: var(--darkRedOrange);
}

.button-green {
    background-color: var(--green);
    color: var(--darkGreen);
    border-color: var(--green);
    border-bottom-color: var(--darkGreen);
}

.button-green:hover {
    background-color: var(--lightGreen);
}

.button-red:hover {
    background-color: var(--lightRedOrange);
}


/**/

#content {
    width: 80%;
    margin: 3em auto 0;
}