:root {
    --off-black: #222831;
    --off-white: #eee;
    --gray-one: #393E46;
    --yellow: #FFD369;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap');

/**/

body {
    padding-top: 3em;
    background-color: var(--off-black);
    user-select: none;
    text-align: center;
    font-size: 1em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: var(--off-white);
}

p {
    color: var(--off-white);
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-width: 0;
    height: 2px;
    width: 75%;
    background-color: var(--gray-one);
}

input[type=button] {
    border-style: solid;
    margin-top: 3em;
    border-width: 1px;
    background-color: transparent;
    color: var(--off-white);
    border-color: var(--gray-one);
    padding: 9px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 150ms, color 100ms, border-color 50ms, border-radius 1000ms;
}

input[type=button]:hover {
    background-color: var(--yellow);
    color: var(--off-black);
    border-color: var(--yellow);
    border-radius: 60px;
    transition: background-color 150ms, color 100ms, border-color 50ms, border-radius 1000ms;
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--gray-one);
    padding: 3px 6px;
    font-size: .6em;
    border-radius: 2px;
}